<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>log_file</key>
	<array>
		<dict>
			<key>dir_path</key>
			<string>/private/var/logs</string>
		</dict>
		<dict>
			<key>dir_path</key>
			<string>/private/var/log</string>
		</dict>
		<dict>
			<key>dir_path</key>
			<string>/private/var/wireless/Library/Logs</string>
		</dict>
		<dict>
			<key>dir_path</key>
			<string>/private/var/mobile/Library/Logs</string>
		</dict>
	</array>
	<key>tmp_file</key>
	<array>
		<dict>
			<key>dir_path</key>
			<string>/private/var/tmp</string>
			<key>except_file_prefix</key>
			<array>
				<string>/private/var/tmp/ghostlyIcons</string>
				<string>/private/var/tmp/gridImages</string>
				<string>/private/var/tmp/iconImages</string>
				<string>/private/var/tmp/iconLabels_gray</string>
			</array>
			<key>except_file</key>
			<array>
				<string>/private/var/tmp/360safe.map</string>
				<string>/private/var/tmp/blued</string>
				<string>/private/var/tmp/blued-obex</string>
				<string>/private/var/tmp/launchd/sock</string>
				<string>/private/var/tmp/com.360safe.EnterChargeScan.lock</string>
				<string>/private/var/tmp/com.360safe.ServiceNumber.lock</string>
				<string>/private/var/tmp/com.360safe.SwitchTo360safe.lock</string>
			</array>
		</dict>
	</array>
	<key>cache_file</key>
	<array>
		<dict>
			<key>file_path</key>
			<string>/private/var/mobile/Library/Safari/History.plist</string>
		</dict>
		<dict>
			<key>file_path</key>
			<string>/private/var/mobile/Library/Safari/SuspendState.plist</string>
		</dict>
		<dict>
			<key>file_path</key>
			<string>/private/var/mobile/Library/Caches/com.apple.mobilesafari/Cache.db</string>
		</dict>
		<dict>
			<key>file_path</key>
			<string>/private/var/mobile/Library/Caches/Safari/RecentSearches.plist</string>
		</dict>
		<dict>
			<key>file_path</key>
			<string>/private/var/mobile/Library/Caches/Maps/MapTiles/MapTiles.sqlitedb</string>
		</dict>
		<dict>
			<key>file_path</key>
			<string>/private/var/mobile/Library/Caches/MapTiles/MapTiles.sqlitedb</string>
		</dict>
		<dict>
			<key>dir_path</key>
			<string>/private/var/mobile/Library/Caches/Safari/Thumbnails</string>
		</dict>
		<dict>
			<key>dir_path</key>
			<string>/private/var/mobile/Library/Caches/com.apple.springboard.sharedimagecache/Persistent</string>
		</dict>
		<dict>
			<key>dir_path</key>
			<string>/private/var/mobile/Library/Caches/com.apple.keyboards/images</string>
		</dict>
		<dict>
			<key>dir_path</key>
			<string>/private/var/mobile/Library/Caches/com.apple.IconsCache</string>
		</dict>
		<dict>
			<key>dir_path</key>
			<string>/private/var/mobile/Library/Caches/com.apple.itunesstored</string>
		</dict>
		<dict>
			<key>dir_path</key>
			<string>/private/var/mobile/Library/Caches/Snapshots</string>
		</dict>
		<dict>
			<key>dir_path</key>
			<string>/private/var/mobile/Library/iFile/Trash</string>
		</dict>
	</array>
	<key>app_file</key>
	<array>
		<dict>
			<key>dir_path</key>
			<string>%@/Documents/Qzone</string>
		</dict>
		<dict>
			<key>dir_path</key>
			<string>%@/Documents/QZoneImageThumb</string>
		</dict>
		<dict>
			<key>dir_path</key>
			<string>%@/Documents/QzoneImage</string>
		</dict>
		<dict>
			<key>dir_path</key>
			<string>%@/Library/Caches</string>
		</dict>
		<dict>
			<key>dir_path</key>
			<string>%@/tmp</string>
		</dict>
		<dict>
			<key>dir_path</key>
			<string>%@/Cookies</string>
		</dict>
	</array>
</dict>
</plist>
